.top-line {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 8fr 1fr;
}

.main-title {
  place-self: center;
}
.main-score {
  justify-self: left;
}

.high-score {
  justify-self: right;
}

.paintings {
  margin-top: 5vh;
  margin-bottom: 2.5vh;
  width: 100%;
  height: 40%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.painting {
  height: 50vh;
  width: 40%;
  object-fit: contain;
  place-self: center;
}

.home-title,
.loss-title {
  text-align: center;
  margin: 25vh auto auto auto;
}

.home-subtitle,
.loss-score {
  text-align: center;
  margin: 5vh auto auto auto;
}

.start,
.replay {
  display: block;
  margin: 10vh auto auto auto;
}

footer {
  position: absolute;
  bottom: 1vh;
  font-size: 0.75rem;
}

.prompt-grid {
  display: grid;
  grid-template-areas: "a b" "c d";
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.left-prompt {
  grid-area: a;
  place-self: center;
  text-align: center;
}

.right-prompt {
  grid-area: b;
  place-self: center;
  text-align: center;
}

.right-prompt-btns {
  grid-area: d;
  place-self: center;
}

.btn {
  background-color: white;
  border: 1px solid black;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  padding: 2vh;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.75) 0 4px 12px;
  transform: translateY(-1px);
}

.btn:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.guess {
  margin: 1vh;
}
